# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb

# Build results
bin/
obj/
[Bb]uild/
[Bb]uilds/

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
packages/
*.snupkg

# Others
TestResults/
*.cache
*.pdb
*.exe
*.dll
*.log
*.zip
*.tar.gz
*.7z
*.db
